In [1556]:
import numpy as np
import pandas as pd
from math import sqrt 
import warnings
warnings.filterwarnings('ignore')

In [1557]:
movie_movielens = pd.read_csv('/movie-lens-100k/movies.csv')
movielens_temp=pd.read_csv('/movie-lens-100k/movies.csv')
rating = pd.read_csv('/movie-lens-100k/ratings.csv')
movie_tmdb=pd.read_csv('/tmdb-movie-metadata/tmdb_5000_movies.csv')

In [1558]:
movie_movielens.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [1559]:
movie_movielens.shape

(9125, 3)

In [1560]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [1561]:
rating.shape

(100004, 4)

In [1562]:
movie_tmdb.shape

(4803, 20)

In [1563]:
movie_tmdb.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [1564]:
movielens_temp['year']=movielens_temp.title.str.extract('(\d\d\d\d)',expand=False)
movie_movielens['year']=movie_movielens.title.str.extract('(\d\d\d\d)',expand=False)
movie_movielens.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [1565]:
movielens_temp['title']=movielens_temp.title.str.replace('(\(\d\d\d\d\))','',regex=True)
movielens_temp['title']=movielens_temp['title'].apply(lambda x:x.strip())
movie_movielens['title']=movie_movielens.title.str.replace('(\(\d\d\d\d\))','',regex=True)
movie_movielens['title']=movie_movielens['title'].apply(lambda x:x.strip())
movie_movielens.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [1566]:
movie_tmdb['original_title'] = movie_tmdb['original_title'].astype(str).str.lower().str.replace(' ', '')
movie_movielens['title'] = movie_movielens['title'].astype(str).str.lower().str.replace(' ', '')

In [1567]:
len(movie_movielens['title'].unique())

8889

In [1568]:
len(movie_tmdb['original_title'].unique())

4801

In [1569]:
duplicate_values = movie_tmdb.duplicated(subset='original_title', keep=False)

# Filter the DataFrame to keep only rows with unique values in the specified column
movie_tmdb = movie_tmdb[~duplicate_values]

In [1570]:
movie_tmdb.shape

(4799, 20)

In [1571]:
duplicate_values = movie_movielens.duplicated(subset='title', keep=False)

# Filter the DataFrame to keep only rows with unique values in the specified column
movie_movielens = movie_movielens[~duplicate_values]

In [1572]:
movie_movielens.shape

(8675, 4)

In [1573]:
movie=movie_movielens[movie_movielens['title'].isin(movie_tmdb['original_title'].tolist())]
movie.shape

(2455, 4)

In [1574]:
movie=movielens_temp[movielens_temp['movieId'].isin(movie['movieId'].tolist())]
movie.shape

(2455, 4)

In [1575]:
movie.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino,Crime|Drama,1995

In [1576]:
movie.shape

(2455, 4)

In [1577]:
len(movie.index)

2455

In [1578]:
movie.drop(columns=['genres'],inplace=True)
movie.head()

    movieId             title  year
0         1         Toy Story  1995
9        10         GoldenEye  1995
13       14             Nixon  1995
14       15  Cutthroat Island  1995
15       16            Casino  1995

In [1579]:
rating=rating[rating['movieId'].isin(movie['movieId'].tolist())]
rating.shape

(46710, 4)

In [1580]:
rating.head()

    userId  movieId  rating   timestamp
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
7        1     1293     2.0  1260759148
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203

In [1581]:
rating.drop(columns=['timestamp'],inplace=True)

In [1582]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [1583]:
unique_user_ids=rating['userId'].unique()
len(unique_user_ids)

671

In [1584]:
from sklearn.model_selection import train_test_split
train_userIds,test_userIds=train_test_split(unique_user_ids,test_size=0.2, random_state=42)
len(train_userIds)

536

In [1585]:
len(test_userIds)

135

In [1586]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [1587]:
train_rating = pd.DataFrame(columns=rating.columns)
test_rating = pd.DataFrame(columns=rating.columns)

for userId in train_userIds:
    train_rating=pd.concat([train_rating,rating[rating['userId']==userId]],ignore_index=True)

for userId in test_userIds:
    test_rating=pd.concat([test_rating,rating[rating['userId']==userId]],ignore_index=True)

In [1588]:
train_rating

      userId movieId  rating
0        480       1     5.0
1        480      34     3.5
2        480     110     4.0
3        480     150     4.5
4        480     158     4.5
...      ...     ...     ...
35478    103    5816     4.0
35479    103    6502     4.0
35480    103    6874     5.0
35481    103    7438     5.0
35482    103    8636     3.5

[35483 rows x 3 columns]

In [1589]:
test_rating

      userId movieId  rating
0        362      70     3.5
1        362     235     3.0
2        362     296     4.5
3        362     356     4.0
4        362     541     4.5
...      ...     ...     ...
11222    236    5009     3.5
11223    236    5378     2.5
11224    236    5440     4.5
11225    236    5989     4.5
11226    236    6711     4.5

[11227 rows x 3 columns]

In [1590]:
#Create user profile from user ID (get it from data set)
import random
inputUserID = random.choice(test_userIds)
print(inputUserID)
inputUser = test_rating[test_rating['userId']==inputUserID]
inputUser.shape

668

(7, 3)

In [1591]:
inputUser.head()

     userId movieId  rating
8371    668     296     5.0
8372    668    1089     3.0
8373    668    1213     5.0
8374    668    1358     4.0
8375    668    2908     5.0

In [1592]:
movie.head()

    movieId             title  year
0         1         Toy Story  1995
9        10         GoldenEye  1995
13       14             Nixon  1995
14       15  Cutthroat Island  1995
15       16            Casino  1995

In [1593]:
inputUserData = pd.merge(inputUser,movie)
inputUserData.head()

  userId movieId  rating           title  year
0    668     296     5.0    Pulp Fiction  1994
1    668    1089     3.0  Reservoir Dogs  1992
2    668    1213     5.0      Goodfellas  1990
3    668    1358     4.0     Sling Blade  1996
4    668    2908     5.0  Boys Don't Cry  1999

In [1594]:
train_rating.head()

  userId movieId  rating
0    480       1     5.0
1    480      34     3.5
2    480     110     4.0
3    480     150     4.5
4    480     158     4.5

In [1595]:
users=train_rating[train_rating['movieId'].isin(inputUserData['movieId'].tolist())]
users

      userId movieId  rating
8        480     296     4.0
33       480    1089     4.5
38       480    1213     5.0
77       480    2997     2.5
281      605    1213     3.0
...      ...     ...     ...
35194     21    1089     3.0
35231     72     296     4.0
35242     72    1213     4.0
35357    107     296     5.0
35384    271     296     4.5

[684 rows x 3 columns]

In [1596]:
users.shape

(684, 3)

In [1597]:
#this step is not required as train and test data are different
users=users.drop(users[users['userId']==inputUserID].index)
users.shape

(684, 3)

In [1598]:
userSubsetGroup=users.groupby(['userId'])

In [1599]:
userSubsetGroup.head()

      userId movieId  rating
8        480     296     4.0
33       480    1089     4.5
38       480    1213     5.0
77       480    2997     2.5
281      605    1213     3.0
...      ...     ...     ...
35194     21    1089     3.0
35231     72     296     4.0
35242     72    1213     4.0
35357    107     296     5.0
35384    271     296     4.5

[666 rows x 3 columns]

In [1600]:
userSubsetGroup=sorted(userSubsetGroup,key=lambda x:len(x[1]),reverse=True)

In [1601]:
userSubsetGroup[0:1]

[((15,),
        userId movieId  rating
  28284     15     296     5.0
  28340     15    1089     4.0
  28353     15    1213     3.0
  28371     15    1358     1.0
  28504     15    2908     1.0
  28511     15    2997     5.0
  28513     15    3039     4.0)]

In [1602]:
inputUserData.head()

  userId movieId  rating           title  year
0    668     296     5.0    Pulp Fiction  1994
1    668    1089     3.0  Reservoir Dogs  1992
2    668    1213     5.0      Goodfellas  1990
3    668    1358     4.0     Sling Blade  1996
4    668    2908     5.0  Boys Don't Cry  1999

In [1603]:
from scipy.spatial.distance import cosine


pearsonCorDic = {}
cosineSimilarityDic = {}

for name, group in userSubsetGroup:
    group=group.sort_values(by='movieId') #here they are already sorted
    inputUserData=inputUserData.sort_values(by='movieId') #here they are already in sorted order
    
    n=len(group)
    
    #Get the ratings for the movies that are common 
    temp=inputUserData[inputUserData['movieId'].isin(group['movieId'].tolist())]
    
    tempRatingList=temp['rating'].tolist()
    tempGroupList=group['rating'].tolist()
        
    x_mean=sum(tempRatingList)/float(n)
    y_mean=sum(tempGroupList)/float(n)
    
    Sxx= sqrt(sum(pow((i-x_mean),2) for i in tempRatingList))
    Syy= sqrt(sum(pow((i-y_mean),2) for i in tempGroupList))
    
    Sxy= sum((tempRatingList[i]-x_mean)*(tempGroupList[i]-y_mean) for i in range(0,n))
    
    #if denominator is not 0, then divide else 0 correlation
    
    if Sxx!=0 and Syy!=0:
        pearsonCorDic[name[0]]=Sxy/(Sxx*Syy)
    else:
        pearsonCorDic[name[0]]=0
        
    #Calculating cosine similarity
    vector_a = np.array(tempRatingList)
    vector_b = np.array(tempGroupList)
    
    norm_a = np.linalg.norm(vector_a)
    norm_b = np.linalg.norm(vector_b)
    
    vector_a_normalized = vector_a / norm_a
    vector_b_normalized = vector_b / norm_b
    
    cosine_similarity = np.dot(vector_a_normalized,vector_b_normalized)
    
    cosineSimilarityDic[name[0]]=cosine_similarity

In [1604]:
pearsonCorDic.items()

dict_items([(15, -0.058747349544604664), (452, 0.5624015883323091), (463, -0.8278327231656522), (547, 0.6525426193749982), (564, -0.28947368421052627), (30, 0.1313064328597226), (306, -0.5345224838248488), (460, 0.4152273992686999), (461, -0.5996253511966891), (472, 0.1313064328597226), (509, 0.6078306738548308), (587, 0.1313064328597226), (654, -0.4629100498862757), (23, 0.5833333333333336), (34, 0.8750000000000004), (220, 0.25000000000000006), (232, 0.0), (245, 0.45833333333333337), (358, 0.5590169943749476), (388, 0.9185586535436916), (468, 0.2941742027072762), (562, -0.12862393885688161), (585, 0.5345224838248488), (595, -0.10206207261596573), (608, 0.6123724356957947), (4, 0.5773502691896258), (17, 0), (97, 0.8783100656536799), (99, 0.5222329678670935), (105, 0.33333333333333337), (118, 0.8703882797784892), (143, -0.8528028654224417), (171, 0.5773502691896258), (242, -0.33333333333333337), (243, -0.5773502691896258), (268, 0.3086066999241839), (299, -0.29277002188455997), (309, 0.9438798074485389), (380, 0.5222329678670935), (407, 1.0000000000000002), (422, -0.5773502691896258), (423, 0.13018891098082389), (428, -0.33333333333333337), (430, 0.7071067811865475), (480, -0.3086066999241839), (501, -0.47140452079103173), (510, -0.8164965809277259), (520, 0.17407765595569785), (522, 0.5773502691896258), (594, 0), (598, 0.33333333333333337), (607, -0.13483997249264842), (615, 0.13245323570650439), (647, 1.0000000000000002), (664, 0.4472135954999579), (665, 0.5773502691896258), (59, 0), (94, 1.0000000000000002), (120, -0.5000000000000001), (125, 0.5000000000000001), (130, -0.5000000000000001), (150, 0.5), (152, 1.0), (178, 0), (181, 0), (187, -0.2773500981126145), (195, 1.0000000000000002), (208, 0.8660254037844385), (214, -0.5000000000000001), (219, -0.8660254037844385), (231, 1.0), (240, 0.5000000000000001), (253, 0.0), (262, 0.5), (267, 0.5000000000000001), (274, -0.5000000000000001), (278, 0), (295, 1.0000000000000002), (297, -0.5000000000000002), (342, 0.0), (345, 1.0000000000000002), (348, -0.8660254037844385), (432, -0.5000000000000001), (433, 1.0000000000000002), (442, 0.5000000000000001), (450, -0.5000000000000001), (454, -0.5000000000000001), (494, 0.5000000000000001), (502, -0.5000000000000001), (514, 1.0), (519, -0.5000000000000001), (528, 0), (534, 0), (544, 0), (545, -0.5000000000000001), (561, -0.8660254037844385), (574, 0.5000000000000001), (584, 0), (623, 0), (648, 0.5000000000000001), (655, -0.5000000000000001), (8, 0.9999999999999999), (10, 0.9999999999999998), (13, 0), (20, 0), (21, 0), (22, 0.9999999999999998), (26, 0), (27, 0), (38, 0), (48, 0), (72, 0), (81, 0), (88, 0), (95, 0), (115, 0.9999999999999998), (138, 0), (153, 0), (160, -0.9999999999999998), (163, 0), (164, -0.9999999999999998), (168, 0), (176, 0), (185, 0), (189, 0.9999999999999998), (190, 0), (198, 1.0), (199, 0), (230, 0), (270, 0), (283, 0), (292, 0.9999999999999998), (304, 0), (344, 0), (346, 0.9999999999999998), (352, 0), (360, 0), (367, 0.9999999999999998), (371, 0), (378, 0.9999999999999998), (379, 0), (384, 0), (386, 0), (387, 0), (408, -0.9999999999999998), (427, 0), (431, 0.9999999999999998), (434, 0), (458, 1.0), (466, 0), (467, 0), (475, 0), (518, 0.9999999999999998), (527, -0.9999999999999998), (529, 0), (537, -0.9999999999999998), (539, -0.9999999999999998), (541, 0), (563, 0), (565, 0), (567, -0.9999999999999998), (570, 0), (577, 0), (583, 0), (605, 0), (606, 0), (614, 1.0), (671, 0), (2, 0), (5, 0), (6, 0), (9, 0), (24, 0), (33, 0), (36, 0), (39, 0), (43, 0), (47, 0), (53, 0), (63, 0), (67, 0), (69, 0), (75, 0), (84, 0), (85, 0), (86, 0), (89, 0), (92, 0), (96, 0), (98, 0), (104, 0), (107, 0), (108, 0), (112, 0), (116, 0), (122, 0), (124, 0), (131, 0), (142, 0), (144, 0), (145, 0), (147, 0), (148, 0), (151, 0), (157, 0), (161, 0), (172, 0), (175, 0), (184, 0), (188, 0), (191, 0), (194, 0), (201, 0), (202, 0), (204, 0), (207, 0), (217, 0), (218, 0), (224, 0), (225, 0), (234, 0), (235, 0), (237, 0), (241, 0), (247, 0), (254, 0), (255, 0), (259, 0), (263, 0), (266, 0), (271, 0), (273, 0), (281, 0), (288, 0), (291, 0), (294, 0), (305, 0), (313, 0), (317, 0), (321, 0), (325, 0), (327, 0), (328, 0), (334, 0), (338, 0), (340, 0), (350, 0), (369, 0), (373, 0), (375, 0), (382, 0), (383, 0), (385, 0), (390, 0), (399, 0), (400, 0), (403, 0), (409, 0), (410, 0), (412, 0), (415, 0), (416, 0), (419, 0), (426, 0), (439, 0), (440, 0), (441, 0), (445, 0), (447, 0), (449, 0), (455, 0), (470, 0), (476, 0), (486, 0), (487, 0), (488, 0), (499, 0), (503, 0), (505, 0), (506, 0), (511, 0), (513, 0), (516, 0), (521, 0), (523, 0), (536, 0), (548, 0), (550, 0), (554, 0), (556, 0), (560, 0), (568, 0), (569, 0), (573, 0), (575, 0), (586, 0), (588, 0), (589, 0), (590, 0), (593, 0), (597, 0), (603, 0), (609, 0), (617, 0), (620, 0), (621, 0), (627, 0), (628, 0), (632, 0), (633, 0), (639, 0), (649, 0), (656, 0), (657, 0), (662, 0), (666, 0)])

In [1605]:
cosineSimilarityDic.items()

dict_items([(15, 0.8778740313720818), (452, 0.9741565871343149), (463, 0.9233315179329216), (547, 0.9880083410547206), (564, 0.9477611940298508), (30, 0.9754065040827024), (306, 0.9480928224599108), (460, 0.9814798787003114), (461, 0.9354170755157448), (472, 0.9754065040827024), (509, 0.9846904855044945), (587, 0.9774315397333437), (654, 0.9717410672367337), (23, 0.9894448035984582), (34, 0.9934700592472275), (220, 0.9769828109255744), (232, 0.9704123064469983), (245, 0.9550674563369053), (358, 0.9823697065156265), (388, 0.9957385837170335), (468, 0.9813541204989238), (562, 0.9723199531895652), (585, 0.9853877465186032), (595, 0.9764038539361203), (608, 0.9907832134966704), (4, 0.9788487096482739), (17, 0.9819805060619659), (97, 0.9938120233033698), (99, 0.9826204412918687), (105, 0.9839324909233234), (118, 0.9925731535768358), (143, 0.9633061072840499), (171, 0.979123829446182), (242, 0.9890109890109893), (243, 0.9738788762887535), (268, 0.9637417630989348), (299, 0.9568074137705369), (309, 0.9966838439581811), (380, 0.9865765724632494), (407, 1.0000000000000002), (422, 0.9639253854237598), (423, 0.9492606240704454), (428, 0.9782186034039091), (430, 0.9805948304884423), (480, 0.9429025695860218), (501, 0.9609999602085963), (510, 0.9401267913629436), (520, 0.9818265643633942), (522, 0.9764433125338822), (594, 0.9814954576223637), (598, 0.9833081801596844), (607, 0.9697464427701221), (615, 0.9768024513957654), (647, 0.9950820986458988), (664, 0.9760025780770074), (665, 0.9875414397573883), (59, 0.94087507228077), (94, 0.9998892150885652), (120, 0.9266914600593301), (125, 0.9812579293026791), (130, 0.967208370191543), (150, 0.9828083836176787), (152, 0.9948457416316068), (178, 0.9771398364036776), (181, 0.9771398364036776), (187, 0.9385931645895135), (195, 0.985623690297673), (208, 0.9897782665572894), (214, 0.9615088296963139), (219, 0.9205746178983234), (231, 0.9935591240195245), (240, 0.9884936427034501), (253, 0.9428090415820634), (262, 0.9823974175160344), (267, 0.9812579293026791), (274, 0.9687741805046264), (278, 0.9649012813540152), (295, 0.9981149841863164), (297, 0.8977425718910967), (342, 0.9748348733519077), (345, 0.9986510906531467), (348, 0.832250378576479), (432, 0.9487945054360867), (433, 0.9986510906531467), (442, 0.9812579293026792), (450, 0.9708024132295408), (454, 0.9487945054360867), (494, 0.9815837250884549), (502, 0.9615088296963139), (514, 0.9935591240195245), (519, 0.9708024132295408), (528, 0.992523259604837), (534, 0.994936676326182), (544, 0.9771398364036776), (545, 0.9615088296963139), (561, 0.9565084088578848), (574, 0.9812579293026791), (584, 0.9979402655783316), (623, 0.9771398364036776), (648, 0.9829047232134225), (655, 0.9687741805046264), (8, 0.8523227286486659), (10, 0.9946917938265512), (13, 0.9970544855015815), (20, 0.9999999999999998), (21, 0.9701425001453319), (22, 0.9909924304103233), (26, 0.9701425001453319), (27, 0.9999999999999998), (38, 0.9938837346736189), (48, 0.98058067569092), (72, 0.9999999999999998), (81, 0.9899494936611665), (88, 0.9977851578566088), (95, 0.9938837346736189), (115, 0.9927337820337081), (138, 0.9982743731749958), (153, 0.9999999999999998), (160, 0.9374252720097653), (163, 0.98058067569092), (164, 0.9560542081957355), (168, 0.9701425001453318), (176, 0.9486832980505137), (185, 0.9899494936611665), (189, 0.9778024140774095), (190, 0.9999999999999998), (198, 0.9872411207126471), (199, 0.9847835588179368), (230, 0.9701425001453318), (270, 0.9982743731749958), (283, 1.0), (292, 0.9909924304103233), (304, 0.9701425001453318), (344, 0.9999999999999998), (346, 0.9909924304103233), (352, 0.9743911956946198), (360, 0.9899494936611665), (367, 0.9909924304103233), (371, 0.9701425001453319), (378, 0.9827105785204016), (379, 0.9982743731749958), (384, 0.9982743731749958), (386, 0.9999999999999998), (387, 0.9999999999999998), (408, 0.9374252720097653), (427, 0.9938837346736189), (431, 0.9909924304103233), (434, 0.9938837346736189), (458, 0.9998347517133228), (466, 0.9938837346736189), (467, 0.9999999999999998), (475, 0.9999999999999998), (518, 0.9909924304103233), (527, 0.9486832980505137), (529, 0.8944271909999157), (537, 0.9756097560975611), (539, 0.9756097560975611), (541, 0.9899494936611665), (563, 0.9999999999999998), (565, 0.9938837346736191), (567, 0.9560542081957355), (570, 0.9191450300180579), (577, 0.9986178293325096), (583, 0.9986178293325096), (605, 0.9899494936611665), (606, 0.9701425001453318), (614, 0.9570244044334737), (671, 0.9982743731749958), (2, 1.0), (5, 1.0), (6, 1.0), (9, 1.0), (24, 1.0), (33, 1.0), (36, 1.0), (39, 1.0), (43, 1.0), (47, 1.0), (53, 1.0), (63, 1.0), (67, 1.0), (69, 1.0), (75, 1.0), (84, 1.0), (85, 1.0), (86, 1.0), (89, 1.0), (92, 1.0), (96, 1.0), (98, 1.0), (104, 1.0), (107, 1.0), (108, 1.0), (112, 1.0), (116, 1.0), (122, 1.0), (124, 1.0), (131, 1.0), (142, 1.0), (144, 1.0), (145, 1.0), (147, 1.0), (148, 1.0), (151, 1.0), (157, 1.0), (161, 1.0), (172, 1.0), (175, 1.0), (184, 1.0), (188, 1.0), (191, 1.0), (194, 1.0), (201, 1.0), (202, 1.0), (204, 1.0), (207, 1.0), (217, 1.0), (218, 1.0), (224, 1.0), (225, 1.0), (234, 1.0), (235, 1.0), (237, 1.0), (241, 1.0), (247, 1.0), (254, 1.0), (255, 1.0), (259, 1.0), (263, 1.0), (266, 1.0), (271, 1.0), (273, 1.0), (281, 1.0), (288, 1.0), (291, 1.0), (294, 1.0), (305, 1.0), (313, 1.0), (317, 1.0), (321, 1.0), (325, 1.0), (327, 1.0), (328, 1.0), (334, 1.0), (338, 1.0), (340, 1.0), (350, 1.0), (369, 1.0), (373, 1.0), (375, 1.0), (382, 1.0), (383, 1.0), (385, 1.0), (390, 1.0), (399, 1.0), (400, 1.0), (403, 1.0), (409, 1.0), (410, 1.0), (412, 1.0), (415, 1.0), (416, 1.0), (419, 1.0), (426, 1.0), (439, 1.0), (440, 1.0), (441, 1.0), (445, 1.0), (447, 1.0), (449, 1.0), (455, 1.0), (470, 1.0), (476, 1.0), (486, 1.0), (487, 1.0), (488, 1.0), (499, 1.0), (503, 1.0), (505, 1.0), (506, 1.0), (511, 1.0), (513, 1.0), (516, 1.0), (521, 1.0), (523, 1.0), (536, 1.0), (548, 1.0), (550, 1.0), (554, 1.0), (556, 1.0), (560, 1.0), (568, 1.0), (569, 1.0), (573, 1.0), (575, 1.0), (586, 1.0), (588, 1.0), (589, 1.0), (590, 1.0), (593, 1.0), (597, 1.0), (603, 1.0), (609, 1.0), (617, 1.0), (620, 1.0), (621, 1.0), (627, 1.0), (628, 1.0), (632, 1.0), (633, 1.0), (639, 1.0), (649, 1.0), (656, 1.0), (657, 1.0), (662, 1.0), (666, 1.0)])

In [1606]:
pearsonDF=pd.DataFrame.from_dict(pearsonCorDic,orient='index')
pearsonDF.columns=['similarityIndexPC']
pearsonDF['userId']=pearsonDF.index
pearsonDF.index=range(0,len(pearsonDF))
pearsonDF.head()

   similarityIndexPC  userId
0          -0.058747      15
1           0.562402     452
2          -0.827833     463
3           0.652543     547
4          -0.289474     564

In [1607]:
cosineDF=pd.DataFrame.from_dict(cosineSimilarityDic,orient='index')
cosineDF.columns=['similarityIndexCS']
cosineDF['userId']=cosineDF.index
cosineDF.index=range(0,len(cosineDF))
cosineDF.head()

   similarityIndexCS  userId
0           0.877874      15
1           0.974157     452
2           0.923332     463
3           0.988008     547
4           0.947761     564

In [1608]:
topUsersPC=pearsonDF.sort_values(by='similarityIndexPC',ascending=False)[0:50]
topUsersPC.head(10)

     similarityIndexPC  userId
39                 1.0     407
83                 1.0     433
80                 1.0     345
77                 1.0     295
53                 1.0     647
66                 1.0     195
57                 1.0      94
126                1.0     198
89                 1.0     514
148                1.0     458

In [1609]:
topUsersCS=cosineDF.sort_values(by='similarityIndexCS',ascending=False)[0:50]
topUsersCS.head(10)

     similarityIndexCS  userId
39                 1.0     407
213                1.0     202
220                1.0     234
219                1.0     225
218                1.0     224
217                1.0     218
216                1.0     217
215                1.0     207
214                1.0     204
212                1.0     201

In [1610]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [1611]:
topUsersRatingPC=topUsersPC.merge(rating,left_on='userId',right_on='userId',how='inner')
topUsersRatingPC.head(300)

     similarityIndexPC  userId  movieId  rating
0                  1.0     407        1     4.0
1                  1.0     407       14     4.0
2                  1.0     407       25     4.0
3                  1.0     407       36     4.0
4                  1.0     407       41     5.0
..                 ...     ...      ...     ...
295                1.0     345      924     3.5
296                1.0     345     1073     4.5
297                1.0     345     1193     5.0
298                1.0     345     1200     1.5
299                1.0     345     1208     5.0

[300 rows x 4 columns]

In [1612]:
topUsersRatingCS=topUsersCS.merge(rating,left_on='userId',right_on='userId',how='inner')
topUsersRatingCS.head()

   similarityIndexCS  userId  movieId  rating
0                1.0     407        1     4.0
1                1.0     407       14     4.0
2                1.0     407       25     4.0
3                1.0     407       36     4.0
4                1.0     407       41     5.0

In [1613]:
topUsersRatingPC['weightedRating']=topUsersRatingPC['similarityIndexPC']*topUsersRatingPC['rating']
topUsersRatingPC.head()

   similarityIndexPC  userId  movieId  rating  weightedRating
0                1.0     407        1     4.0             4.0
1                1.0     407       14     4.0             4.0
2                1.0     407       25     4.0             4.0
3                1.0     407       36     4.0             4.0
4                1.0     407       41     5.0             5.0

In [1614]:
topUsersRatingCS['weightedRating']=topUsersRatingCS['similarityIndexCS']*topUsersRatingCS['rating']
topUsersRatingCS.head()

   similarityIndexCS  userId  movieId  rating  weightedRating
0                1.0     407        1     4.0             4.0
1                1.0     407       14     4.0             4.0
2                1.0     407       25     4.0             4.0
3                1.0     407       36     4.0             4.0
4                1.0     407       41     5.0             5.0

In [1615]:
tempTopUsersRatingPC=topUsersRatingPC.groupby('movieId').sum()[['similarityIndexPC','weightedRating']]
tempTopUsersRatingPC.columns=['sum_similarityIndex','sum_weightedRating']
tempTopUsersRatingPC.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  19.241903           74.843062
10                  7.315388           23.958509
14                  4.741334           17.593634
16                 12.350386           49.560338
17                  7.016397           29.142543

In [1616]:
tempTopUsersRatingCS=topUsersRatingCS.groupby('movieId').sum()[['similarityIndexCS','weightedRating']]
tempTopUsersRatingCS.columns=['sum_similarityIndex','sum_weightedRating']
tempTopUsersRatingCS.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                       21.0                82.5
10                      13.0                47.5
14                       3.0                12.0
16                       7.0                30.5
17                       6.0                27.0

In [1617]:
recommendation_df_pc=tempTopUsersRatingPC
recommendation_df_pc['weighted average recommendation score']=recommendation_df_pc['sum_weightedRating']/recommendation_df_pc['sum_similarityIndex']
recommendation_df_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
1,19.241903,74.843062,3.889587
10,7.315388,23.958509,3.275084
14,4.741334,17.593634,3.710693
16,12.350386,49.560338,4.012857
17,7.016397,29.142543,4.153491

In [1618]:
recommendation_df_pc.shape

(1580, 3)

In [1619]:
inputUserData.shape

(7, 5)

In [1620]:
inputUserData.head()

  userId movieId  rating           title  year
0    668     296     5.0    Pulp Fiction  1994
1    668    1089     3.0  Reservoir Dogs  1992
2    668    1213     5.0      Goodfellas  1990
3    668    1358     4.0     Sling Blade  1996
4    668    2908     5.0  Boys Don't Cry  1999

In [1621]:
recommendation_df_pc[recommendation_df_pc.index.isin(inputUserData['movieId'].tolist())].shape

(7, 3)

In [1622]:
df_accuracy_pc=recommendation_df_pc[recommendation_df_pc.index.isin(inputUserData['movieId'].tolist())]
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
296,33.525156,154.748131,4.615881
1089,27.925573,101.690601,3.641487
1213,21.273583,97.859672,4.600056
1358,17.068607,62.638395,3.669801
2908,7.807883,35.337098,4.525823

In [1623]:
recommendation_df_cs=tempTopUsersRatingCS
recommendation_df_cs['weighted average recommendation score']=recommendation_df_cs['sum_weightedRating']/recommendation_df_cs['sum_similarityIndex']
recommendation_df_cs.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
1,21.0,82.5,3.928571
10,13.0,47.5,3.653846
14,3.0,12.0,4.000000
16,7.0,30.5,4.357143
17,6.0,27.0,4.500000

In [1624]:
recommendation_df_cs.shape

(895, 3)

In [1625]:
recommendation_df_pc.drop(columns=['sum_similarityIndex','sum_weightedRating'],inplace=True)
recommendation_df_pc.head()

         weighted average recommendation score
movieId
1                                     3.889587
10                                    3.275084
14                                    3.710693
16                                    4.012857
17                                    4.153491

In [1626]:
recommendation_df_cs.drop(columns=['sum_similarityIndex','sum_weightedRating'],inplace=True)
recommendation_df_cs.head()

         weighted average recommendation score
movieId
1                                     3.928571
10                                    3.653846
14                                    4.000000
16                                    4.357143
17                                    4.500000

In [1627]:
recommendation_df_cs.shape

(895, 1)

In [1628]:
df_accuracy_cs=recommendation_df_cs[recommendation_df_cs.index.isin(inputUserData['movieId'].tolist())]
df_accuracy_cs.head()

         weighted average recommendation score
movieId
296                                   4.189189
1213                                  3.500000
1358                                  2.833333
2908                                  5.000000
2997                                  3.666667

In [1629]:
recommendation_df_pc.sort_values(by='weighted average recommendation score',ascending=False,inplace=True)
recommendation_df_pc.shape

(1580, 1)

In [1630]:
recommendation_df_pc.tail()

         weighted average recommendation score
movieId
4992                                       0.5
4727                                       0.5
68319                                      0.5
65585                                      0.5
6535                                       0.5

In [1631]:
inputUserData.head()

  userId movieId  rating           title  year
0    668     296     5.0    Pulp Fiction  1994
1    668    1089     3.0  Reservoir Dogs  1992
2    668    1213     5.0      Goodfellas  1990
3    668    1358     4.0     Sling Blade  1996
4    668    2908     5.0  Boys Don't Cry  1999

In [1632]:
recommendation_df_pc.head(100)

         weighted average recommendation score
movieId
4232                                  5.000000
105504                                5.000000
5828                                  5.000000
4566                                  5.000000
1942                                  5.000000
...                                        ...
1208                                  4.305300
4880                                  4.304174
1214                                  4.302773
61323                                 4.293011
2432                                  4.280081

[100 rows x 1 columns]

In [1633]:
rating_5_pc = (recommendation_df_pc['weighted average recommendation score']>=5).sum()
rating_5_pc

11

In [1634]:
recommendation_df_cs.sort_values(by='weighted average recommendation score',ascending=False,inplace=True)
recommendation_df_cs.head(10)

         weighted average recommendation score
movieId
122904                                     5.0
3039                                       5.0
3910                                       5.0
3163                                       5.0
3260                                       5.0
1730                                       5.0
3317                                       5.0
27882                                      5.0
39292                                      5.0
37741                                      5.0

In [1635]:
rating_5_cs = (recommendation_df_cs['weighted average recommendation score']>=5).sum()
rating_5_cs

33

In [1636]:
recommendation_df_pc1=recommendation_df_pc.head(10)
recommendation_df_pc1

         weighted average recommendation score
movieId
4232                                       5.0
105504                                     5.0
5828                                       5.0
4566                                       5.0
1942                                       5.0
1588                                       5.0
4980                                       5.0
742                                        5.0
4941                                       5.0
3163                                       5.0

In [1637]:
recommendation_df_cs1=recommendation_df_cs.head(10)
recommendation_df_cs1

         weighted average recommendation score
movieId
122904                                     5.0
3039                                       5.0
3910                                       5.0
3163                                       5.0
3260                                       5.0
1730                                       5.0
3317                                       5.0
27882                                      5.0
39292                                      5.0
37741                                      5.0

In [1638]:
recommendation_df_pc2=recommendation_df_pc1.merge(movie, left_on='movieId',right_on='movieId',how='inner')
print("Top 10 recommended movies with knn using pearson coefficient as distance metric:\n")
recommendation_df_pc2

Top 10 recommended movies with knn using pearson coefficient as distance metric:

,movieId,weighted average recommendation score,title,year
0,4232,5.0,Spy Kids,2001
1,105504,5.0,Captain Phillips,2013
2,5828,5.0,Blackrock,1997
3,4566,5.0,American Ninja 2: The Confrontation,1987
4,1942,5.0,All the King's Men,1949
5,1588,5.0,George of the Jungle,1997
6,4980,5.0,Bill & Ted's Bogus Journey,1991
7,742,5.0,Thinner,1996
8,4941,5.0,Flash Gordon,1980
9,3163,5.0,Topsy-Turvy,1999

In [1639]:
inputUserData.head()

  userId movieId  rating           title  year
0    668     296     5.0    Pulp Fiction  1994
1    668    1089     3.0  Reservoir Dogs  1992
2    668    1213     5.0      Goodfellas  1990
3    668    1358     4.0     Sling Blade  1996
4    668    2908     5.0  Boys Don't Cry  1999

In [1640]:
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
296,33.525156,154.748131,4.615881
1089,27.925573,101.690601,3.641487
1213,21.273583,97.859672,4.600056
1358,17.068607,62.638395,3.669801
2908,7.807883,35.337098,4.525823

In [1641]:
df_accuracy_pc=df_accuracy_pc.sort_index()

In [1642]:
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
296,33.525156,154.748131,4.615881
1089,27.925573,101.690601,3.641487
1213,21.273583,97.859672,4.600056
1358,17.068607,62.638395,3.669801
2908,7.807883,35.337098,4.525823

In [1643]:
inputUserData_accuracy_pc=inputUserData[inputUserData['movieId'].isin(df_accuracy_pc.index.tolist())]

In [1644]:
inputUserData_accuracy_pc=inputUserData_accuracy_pc.sort_values(by='movieId')

In [1645]:
inputUserData_accuracy_pc.head()

  userId movieId  rating           title  year
0    668     296     5.0    Pulp Fiction  1994
1    668    1089     3.0  Reservoir Dogs  1992
2    668    1213     5.0      Goodfellas  1990
3    668    1358     4.0     Sling Blade  1996
4    668    2908     5.0  Boys Don't Cry  1999

In [1646]:
inputUserData_accuracy_pc.index

RangeIndex(start=0, stop=7, step=1)

In [1647]:
inputUserData_accuracy_pc.index = range(len(inputUserData_accuracy_pc))

In [1648]:
inputUserData_accuracy_pc.head()

  userId movieId  rating           title  year
0    668     296     5.0    Pulp Fiction  1994
1    668    1089     3.0  Reservoir Dogs  1992
2    668    1213     5.0      Goodfellas  1990
3    668    1358     4.0     Sling Blade  1996
4    668    2908     5.0  Boys Don't Cry  1999

In [1649]:
df_accuracy_pc.index

Index([296, 1089, 1213, 1358, 2908, 2997, 3039], dtype='int64', name='movieId')

In [1650]:
df_accuracy_pc['movieId']=df_accuracy_pc.index
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score,movieId
movieId,,,,
296,33.525156,154.748131,4.615881,296
1089,27.925573,101.690601,3.641487,1089
1213,21.273583,97.859672,4.600056,1213
1358,17.068607,62.638395,3.669801,1358
2908,7.807883,35.337098,4.525823,2908

In [1651]:
df_accuracy_pc.index=range(len(df_accuracy_pc))
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score,movieId
0,33.525156,154.748131,4.615881,296
1,27.925573,101.690601,3.641487,1089
2,21.273583,97.859672,4.600056,1213
3,17.068607,62.638395,3.669801,1358
4,7.807883,35.337098,4.525823,2908

In [1652]:
df_accuracy_pc.shape

(7, 4)

In [1653]:
sum_sd=0
sum_ad=0
for i in range(df_accuracy_pc.shape[0]):
    if(inputUserData_accuracy_pc.iloc[i]['movieId']==df_accuracy_pc.iloc[i]['movieId']):
        sum_sd+=(inputUserData_accuracy_pc.iloc[i]['rating']-df_accuracy_pc.iloc[i]['weighted average recommendation score'])**2
        sum_ad+=abs(inputUserData_accuracy_pc.iloc[i]['rating']-df_accuracy_pc.iloc[i]['weighted average recommendation score'])

rmse=sqrt(sum_sd/df_accuracy_pc.shape[0])
print("rmse of movie recommendations with knn using pearson coefficient:", rmse)

mae=sum_ad/df_accuracy_pc.shape[0]
print("mae of movie recommendations with knn using pearson coefficient:", mae)

rmse of movie recommendations with knn using pearson coefficient: 0.44973322838745267
mae of movie recommendations with knn using pearson coefficient: 0.43992926356960727

In [1654]:
recommendation_df_cs2=recommendation_df_cs1.merge(movie, left_on='movieId',right_on='movieId',how='inner')
print("Top 10 recommended movies with knn using cosine similarity as distance metric:\n")
recommendation_df_cs2

Top 10 recommended movies with knn using cosine similarity as distance metric:

,movieId,weighted average recommendation score,title,year
0,122904,5.0,Deadpool,2016
1,3039,5.0,Trading Places,1983
2,3910,5.0,Dancer in the Dark,2000
3,3163,5.0,Topsy-Turvy,1999
4,3260,5.0,Howards End,1992
5,1730,5.0,Kundun,1997
6,3317,5.0,Wonder Boys,2000
7,27882,5.0,Riding Giants,2004
8,39292,5.0,"Good Night, and Good Luck.",2005
9,37741,5.0,Capote,2005

In [1655]:
df_accuracy_cs.head()

         weighted average recommendation score
movieId
296                                   4.189189
1213                                  3.500000
1358                                  2.833333
2908                                  5.000000
2997                                  3.666667

In [1656]:
df_accuracy_cs.index

Index([296, 1213, 1358, 2908, 2997, 3039], dtype='int64', name='movieId')

In [1657]:
inputUserData_accuracy_cs=inputUserData[inputUserData['movieId'].isin(df_accuracy_cs.index.tolist())]
inputUserData_accuracy_cs.head()

  userId movieId  rating                 title  year
0    668     296     5.0          Pulp Fiction  1994
2    668    1213     5.0            Goodfellas  1990
3    668    1358     4.0           Sling Blade  1996
4    668    2908     5.0        Boys Don't Cry  1999
5    668    2997     5.0  Being John Malkovich  1999

In [1658]:
df_accuracy_cs['movieId']=df_accuracy_cs.index
df_accuracy_cs.head()

         weighted average recommendation score  movieId
movieId
296                                   4.189189      296
1213                                  3.500000     1213
1358                                  2.833333     1358
2908                                  5.000000     2908
2997                                  3.666667     2997

In [1659]:
df_accuracy_cs.index=range(len(df_accuracy_cs))
df_accuracy_cs.head()

   weighted average recommendation score  movieId
0                               4.189189      296
1                               3.500000     1213
2                               2.833333     1358
3                               5.000000     2908
4                               3.666667     2997

In [1660]:
inputUserData_accuracy_cs.head()

  userId movieId  rating                 title  year
0    668     296     5.0          Pulp Fiction  1994
2    668    1213     5.0            Goodfellas  1990
3    668    1358     4.0           Sling Blade  1996
4    668    2908     5.0        Boys Don't Cry  1999
5    668    2997     5.0  Being John Malkovich  1999

In [1661]:
inputUserData_accuracy_cs=inputUserData_accuracy_cs.sort_values(by='movieId')
inputUserData_accuracy_cs.head()

  userId movieId  rating                 title  year
0    668     296     5.0          Pulp Fiction  1994
2    668    1213     5.0            Goodfellas  1990
3    668    1358     4.0           Sling Blade  1996
4    668    2908     5.0        Boys Don't Cry  1999
5    668    2997     5.0  Being John Malkovich  1999

In [1662]:
inputUserData_accuracy_cs.index=range(len(inputUserData_accuracy_cs))
inputUserData_accuracy_cs.head()

  userId movieId  rating                 title  year
0    668     296     5.0          Pulp Fiction  1994
1    668    1213     5.0            Goodfellas  1990
2    668    1358     4.0           Sling Blade  1996
3    668    2908     5.0        Boys Don't Cry  1999
4    668    2997     5.0  Being John Malkovich  1999

In [1663]:
df_accuracy_cs=df_accuracy_cs.sort_values(by='movieId')
df_accuracy_cs.head()

   weighted average recommendation score  movieId
0                               4.189189      296
1                               3.500000     1213
2                               2.833333     1358
3                               5.000000     2908
4                               3.666667     2997

In [1664]:
sum_sd=0
sum_ad=0
for i in range(df_accuracy_cs.shape[0]):
    if(inputUserData_accuracy_cs.iloc[i]['movieId']==df_accuracy_cs.iloc[i]['movieId']):
        sum_sd+=(inputUserData_accuracy_cs.iloc[i]['rating']-df_accuracy_cs.iloc[i]['weighted average recommendation score'])**2
        sum_ad+=abs(inputUserData_accuracy_cs.iloc[i]['rating']-df_accuracy_cs.iloc[i]['weighted average recommendation score'])
        
rmse=sqrt(sum_sd/df_accuracy_cs.shape[0])
print("rmse of movie recommendations with knn using cosine similarity between users:", rmse)

mae=sum_ad/df_accuracy_cs.shape[0]
print("mae of movie recommendations with knn using cosine similarity between users:", mae)

rmse of movie recommendations with knn using cosine similarity between users: 1.2939798465597376
mae of movie recommendations with knn using cosine similarity between users: 1.135135135135135